* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* nav socmedia / social-media */

.social-media {
    padding: 0 10px;
    background-color: #F6F0EA;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simg img {
    margin-right: 15px; 
    width: 25px;
}

.social-media p {
    margin-right: 10px;
}

/* nav part 2 */

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.nav a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.logo img {
    width: 100%;
}


/* moving text */

.ticker {
    width: 100%;
    background: #FF6D4D;
    padding: 12px 0;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.ticker-track {
    display: flex;
    align-items: center;
    gap: 50px;
    white-space: nowrap;
    position: relative;
}

.item {
    font-size: 14px;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
}


/* section 2  */

#section2 {
    width: 100%;
    height: 600px;
    background-color: #F6F0EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.one1 {
    display: flex;
    gap: 25px;
}
.imgs2 {
    width: 500px;
    height: 300px;
}

.imgs2 img {
    width: 100%;
    height: 100%;
}


.text {
    width: 200px;
    display: flex;
    flex-direction: column;
}

#t-p2 {
    font-size: 25px;
}


.wawes {
    width: 100%;
    position: absolute;
    bottom: -20px;
    transform: rotateX(180deg);
    z-index: 2;
    height: 100px;
}

.wawes img {
    filter: brightness(0) invert(1);
    width: 100%;
    height: 60px;
}


/* section3 */

#section3 {
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: #F5F5EF;
}

/* section 4  */


#section4 {
    width: 100%;
    height: 700px;
    background-color: #C3DDD7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.cards4f {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cards4 {

    width: 250px;
    height: 300px;
    background-color: cadetblue;
}

/* section 5 */


#section5 {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 50%;
}

.s5-1 {
    height: 50%; 
    width: 100%;
    background-color: #F5F5EF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.s5-2 {
    height: 50%; 
    width: 100%;
    background-color: #FD5932;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.s5-3 {
    height: 700px;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* section 6 */

#section6 {
    width: 100%;
    height: 700px;
    background-color: #B1D8D2;
}


/* section 7  */

#section7 {
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
}

.promocode input {
    width: 200px;
    height: 20px;
    border-radius: 15px;
}